<mat-toolbar color="primary">
    <mat-toolbar-row >
        <span class="title">INF8808 Projet</span>
    </mat-toolbar-row>
</mat-toolbar>
<p class="intro"> À chaque début d'année, les québécois rassemblent leurs papiers afin de faire leur taxe. En effet, depuis 1917, le peuple paie des taxes fédérals et, depuis 1977, le peuple paie des taxes québécoises. Cependant, les barèmes et les taux ont évolué à travers le temps. Alors, dans le premier graphique, il est possible de voir l'évolution des taux d'imposition et de l'impôt en fonction des années en dollars courant ou constants. Dans le deuxième graphique, il est possible de comparer les barèmes fédéraux, provincaux et combinés de toutes les années. Les barèmes nous permettent de comparer les taux et les montants de bases. </p>
<app-viz1></app-viz1>
<app-viz2></app-viz2>