
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom: (
    50: #efe5fd,
    100: #d4bff9,
    200: #b794f6,
    300: #9965f4,
    400: #7e3ff2,
    500: #0c6b97,
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
); 

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$inf8808-projet-primary: mat-palette($custom);
$inf8808-projet-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$inf8808-projet-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$inf8808-projet-theme: mat-light-theme((
  color: (
    primary: $inf8808-projet-primary,
    accent: $inf8808-projet-accent,
    warn: $inf8808-projet-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($inf8808-projet-theme);

/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    overflow-x: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
